# Duplicate of stuff in pyproject toml, because readthedocs doesn't support poetry
mkdocs>=1.6.0
mkdocs-jupyter>=0.24.7
mkdocs-material>=9.5.27
notebook<7.0
jupyter>=1.0
jupyter-contrib-nbextensions>=0.7.0
more-itertools>=10.3.0
